<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header') %>
  </head>
  <body>
    <%- include('../../partials/navbar') %>
    
    <div class="container">
      <h1>Artigos</h1>
      <hr />

      <a class="btn btn-primary" href="/admin/articles/new"
        >Criar Artigo</a
      >
      <br /><br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(article=> {%>
            <tr>
            <th><%= article.id %></th>
            <th><%= article.tltle%></th>
            <th><%=article.slug%></th>
            <th>
              <% if(article.category?.title!=undefined){%>
                  <%= article.category.title %> 
                <%}else{%>
                 Não tem categoria
                <%}%> 
            </th>
            <th>
            <form
            onsubmit="confirmarDelete(event,this) "
            action="/article/delete"
            method="post"
            style="display: inline"
          >        
          
          <input type="hidden" id="id" name="id" value="<%= article.id %> " />
          <a href="/admin/article/edit/<%= article.id %> " style="margin-right: 47px" class="btn btn-danger">Editar</a>
            <button class="btn btn-danger">Excluir</button>
          </form>
        </th>
          </tr>
            <% });  %> 
        </tbody>
        <tbody>
    </div>
  </body>
  <script>
    function confirmarDelete(event, form) {
      event.preventDefault();
      let confirmacao = confirm("Deseja realmente excluir essa categoria");
      if (confirmacao) {
        form.submit();
        window.reload()
      } else {
        console.log("N deletou");
      }
    }
  </script>
  <%- include('../../partials/footer') %>
</html>
