<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/header') %>
  </head>
  <body>
    <%- include('../../partials/homenavbar') %>
    <br />
    <div class="container">
      <%articles.rows.forEach((article)=>{%>
      <div class="card" style="margin-top: 4vh">
        <div class="card-header">
          <h2><%=article.tltle%></h2>
        </div>
        <div class="card-body">
          <a href="/<%=article.slug%>" class="btn btn-primary">Ler Artigo</a>
        </div>
      </div>
      <%}) %>
      <hr />
      <div style="margin-left: 60vh">
        <% if(page!=1){%> 
          <a href="/admin/articles/page/<%= page-1 %> " class="btn btn-primary">Anterior</a>
        <%}%>
        
        <% if(next){%> 
          <a href="/admin/articles/page/<%= page+1 %> " class="btn btn-primary" style="margin-left: 10vh">Proximo</a>
        <%}%>
        
      </div>
    </div>
  </body>
  <%- include('../../partials/footer') %>
</html>
