<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header') %> 
</head>
<body>
  <%- include('partials/homenavbar') %> 
  <br>
  <div  class="container">
  
    <%articles.forEach((article)=>{%>
        <div class="card" style="margin-top: 4vh;">
          <div class="card-header">
           <h2 > <%=article.tltle%></h2> 
          </div>
          <div class="card-body">
              <a href="/<%=article.slug%>" class="btn btn-primary">Ler Artigo</a>
          </div>
        </div>
<%}) %>  
<hr>
      <a class="btn btn-primary" href="/admin/articles/page/1">Pagina de Artigos</a>
  </div>
</body>
<%- include('partials/footer') %> 
</html>